.sidebarContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  min-height: 100%;
  width: 50px;
  top: 100px;
}

.sidebar {
  width: 50px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;

  position: sticky;
  top: 100px;

  border-radius: 8px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .sidebar,
  .sidebarContainer {
    display: none;
  }
}
