.nav {
  max-width: 100vw;
  height: 50px;
  display: flex;
  padding: 0 10px;

  position: sticky;
  top: 0;
  background-color: white;

  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
  z-index: 10000;

  /* Added styles */
  transition: transform 300ms ease-in-out;
  transform: translateY(0);
}

.visible {
  transform: translateY(0);
}

.hidden {
  transform: translateY(-100%);
}

.lt_side {
  width: 50%;
  display: flex;
  align-items: center;
}

.logo {
  color: #00a6a6;
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-decoration: none;
}

.rt_side {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu {
  width: 24px;
  height: 24px;
  filter: invert(52%) sepia(21%) saturate(6755%) hue-rotate(146deg)
    brightness(90%) contrast(104%);
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.menu:hover {
  transform: rotate(30deg);
}
