.containerContact {
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 20px;
  transition: 300ms ease-in-out;
  z-index: 10;
}

.contact {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  border: none;
  margin: 0 10px;
  font-size: 25px;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.talk {
  width: 250px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 300;
  font-family: var(--font-outfit);
  background-color: transparent;
  border: 1px solid rgb(70, 70, 70);
  color: rgb(166, 166, 166);
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.downloadcv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 45px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid #3f3f3f;
  color: rgb(166, 166, 166);
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.talk:hover, .downloadcv:hover {
  transform: scale(95%);
}

.iconsTalk {
  margin-left: 10px;
  font-size: 20px;
}

.instagram:hover {
  color: #d62976;
  box-shadow: 0 0 4px 2px #d62976;
}

.twitter:hover {
    color: #2bc4ff;
    box-shadow: 0 0 4px 2px #2bc4ff;
}

.linkedin:hover {
    color: #0072b1;
    box-sizing: 0 0 4px 2px #0072b1;
}

.github:hover {
    color: white;
    background-color: #121212;
}
