/* home.module.css */

/* ===============
Header
==================*/

.hero {
  width: 100%;
  display: flex;
  position: relative;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.heroIntro {
  background: linear-gradient(
    to bottom right,
    rgb(201, 201, 201) 0%,
    rgba(116, 116, 116, 0.11) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  text-align: center;
  font-size: 52px;
  transition: 300ms ease-in-out;
  margin-top: 5px;
}

@media (max-width: 700px) {
  .heroIntro {
    font-size: 36px;
  }
}

.avatarContainer {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #252525;
  position: relative;
  margin-top: 100px;
}

.layer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.avatarWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.avatar {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.avatarDesc {
  color: #616161;
  margin-top: 20px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

/* ===============
Header Ends
==================*/

.skillsContainer {
  width: 100%;
  height: 150px;
  background-color: var(--accent-color);
}

.mainSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionOneContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 50px 0;
  transition: 300ms ease-in-out;
}

.card {
  display: flex;
  width: 100%;
  height: 350px;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 2px;
  border: 1px solid rgb(67, 67, 67);
  color: white;
  background-color: #252525;
  cursor: pointer;

  transition: 200ms ease-in-out;
}

.card:hover {
  transform: scale(105%);
}

.iconsCard {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: flex-end;
}

.iconsImage {
  width: 50px;
  height: 50px;
  filter: invert(100%);
  opacity: 0.6;
}

.infoContainer {
  width: 100%;
  height: 60%;
}

.infoContainer p {
  font-weight: 300;
  color: gray;
  text-align: justify;
}

.titleCard {
  font-weight: 400;
  color: rgb(158, 158, 158);
}

.sectionTwo {
	width: 100%;
	height: 500px;
	display: flex;
  margin: 100px 0;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.titleSectionTwo {
  font-size: 52px;
  font-family: var(--font-outfit);
  text-align: center;
  font-weight: 300;
  background: linear-gradient(to bottom right, rgb(201, 201, 201) 0%, rgba(116, 116, 116, 0.11) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media (max-width: 1000px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
    grid-gap: 10px;
  }
  .card {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 800px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
