/* Typography */

@font-face {
  font-family: "Aquatico Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Aquatico Regular"),
    url("./font/Aquatico-Regular.woff") format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap");

/* Typography Ends*/

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
}
/* Tailwind Ends */

/* Root */

:root {
  --font-heading: "EB Garamond", serif;
  --font-title: "Montserrat", sans-serif;
  --font-paragraph: "Poppins", sans-serif;
  --font-style:"Aquatico Regular", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-paragraph);
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.custom-header-style {
  font-family: var(--font-style);
  animation: slide-in 1000ms ease-in-out;
}

.custom-button-download {
  animation: slide-in 1000ms ease-in-out;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.logo {
  font-family: var(--font-style);
}

.custom-image {
  background-image: url('https://images.unsplash.com/photo-1588421357574-87938a86fa28?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  image-rendering: auto;
}


.img-render {
  image-rendering:optimizeQuality;
}

#navbar-mobile {
  top:-320px;
}